[submodule "dias-logging"]
	path = dias-logging
	url = https://github.com/terilenard/dias-logging.git
[submodule "dias-firewall"]
	path = dias-firewall
	url = https://github.com/terilenard/dias-firewall.git
[submodule "dias_kuksa"]
	path = dias_kuksa
	url = https://github.com/junh-ki/dias_kuksa
[submodule "dias-kuksa.val"]
	path = dias-kuksa.val
	url = https://github.com/junh-ki/kuksa.val
